body{
background-color: #343d4b;
font-family:'Montserrat', sans-serif;
}
.Parents{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.Background {
    position: relative;
    min-width: 450px;
    max-width: 600px;
    padding: 56px 22px;
    border-radius: 25px;
    overflow: hidden;
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Position {
    transform: translateZ(0);
}
.Tuesday{
    width: 176px;
height: 38px;
flex-shrink: 0;
    color: #FFF;
    padding-left: 32px;
    padding-top: 0px;

font-size: 37px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.Date{
    width: 154px;
height: 36px;
flex-shrink: 0;
    color: #FFF;

font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 32px;
padding-top: 16px;
}
.Geolocationicon{
    color: #FFF;

font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-left: 32px;
padding-top: 10px;
}

.Sun{
    padding-left: 32px;
padding-top: 200px;
}
.Temperature{
    color: #FFF;

font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 32px;
padding-top: 9px;
}
.Sunny{
    width: 144px;
height: 29px;
flex-shrink: 0;
color: #FFF;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 32px;
padding-top: 13px;
}

.SecondRectangle{
    
flex-shrink: 0;
position: relative;
    background-color: #222831;
    border-radius: 0 25px 25px 0;
    padding: 55px;
}
.Weatherindicators{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.WeatherInformation{
    display: flex;
    
    font-size: 28px;
    justify-content: space-between; 
    line-height: 1px;
}
.type{
    color: #fff;
    font-weight: 700;
}
.measure{
    color: #fff;
    font-weight: 500;
}
.Cards{
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
}


.Card{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 2px 4px 0px #222831;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    gap: 15px;
}

.FirsIcon{
    display: flex;
    justify-content: center;
}
.Tue{
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.Thirtydegrees{
    color: #000;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-shrink: 0; 
}
.Othercards{
    border-radius: 10px;
    background: #272E37;
    box-shadow: 1px 2px 4px 0px #222831;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    gap: 15px;
}

.Iconnumbertwo{
    display: flex;
    justify-content: center;
}

.Wed{
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    flex-shrink: 0;
}
.Twentytwodegrees{
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    flex-shrink: 0;
}
.Iconnumberthree{
    
    display: flex;
    justify-content: center;
}
.Thu{
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    flex-shrink: 0;
}
.Sixdegrees{
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    flex-shrink: 0;
}

.Iconnumberfour{
    display: flex;
    justify-content: center;
}

.Fry{
    
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;   
}
.Twentysixdegrees{
    
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;   
}
.BlueIcon{
    margin-top: 72px;
    width: 415px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(91deg, rgba(144, 217, 224, 0.90) 0.2%, rgba(84, 96, 230, 0.90) 100%);
}

.Tap{
    display: flex;
    justify-content: center;
}
.Geolocation{
    margin-top: 10px;
    margin-right: 8px;
}
.ChangeLocation{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 14px;
} 