body{
background-color: #343d4b;
}
.Подкартинкой{
    width: 944px;
height: 623px;
flex-shrink: 0;
border-radius: 25px;
background: #222831;
position: relative;
    top: 20px;
    left: 32px;
}
.Заднийфон{
    position: absolute;
    top: 5px;
}
.Tuesday{
    width: 176px;
height: 38px;
flex-shrink: 0;
    color: #FFF;

font-family:'Montserrat', sans-serif;
font-size: 37px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Дата{
    width: 154px;
height: 36px;
flex-shrink: 0;
    color: #FFF;
    position: relative;
    top: 16px;

font-family:'Montserrat', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Иконкагеолокации{
    color: #FFF;

font-family:'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
position: relative;
    top: 25px;
    left:2px;
}
.Позиция{
    position: absolute;
    top: 50px;
    left: 40px;
}
.Солнышко{
    position: relative;
    top: 200px;
    left: 32px;
}
.Температура{
    color: #FFF;

font-family:'Montserrat', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
    position: relative;
    top: 210px;
    left: 32px;
}
.Солнечно{
    width: 144px;
height: 29px;
flex-shrink: 0;
color: #FFF;
font-family: 'Montserrat', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
    top: 223px;
    left: 32px;
}
.Precepitation{
    width: 275px;
    height: 35px;
    flex-shrink: 0;
    color: #FFF;
font-family: 'Montserrat', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
    top: -264px;
    left: 479px;
}
.Осадки{
    width: 68px;
height: 22px;
flex-shrink: 0;
    color: #FFF;

text-align: right;
font-family: 'Montserrat', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
position: relative;
    top: -301px;
    left: 826px;
}
.HUMIDITY{
    width: 275px;
height: 35px;
flex-shrink: 0;
color: #FFF;

font-family: 'Montserrat', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
    top: -248px;
    left: 479px;
}
.Влажность{
    width: 68px;
height: 22px;
flex-shrink: 0;
color: #FFF;

text-align: right;
font-family: 'Montserrat', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
position: relative;
    top: -282px;
    left: 826px;
}
.WIND{
    width: 275px;
height: 35px;
flex-shrink: 0;
color: #FFF;

font-family: 'Montserrat', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
    top: -232px;
    left: 479px;
}
.Ветер{
    width: 153px;
height: 22px;
flex-shrink: 0;
color: #FFF;

text-align: right;
font-family: 'Montserrat', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
position: relative;
    top: -270px;
    left: 741px;
}
.Иконка{
    width: 104px;
    height: 168px;
    flex-shrink: 0;
    border-radius: 10px;
background: #FFF;

box-shadow: 1px 2px 4px 0px #222831; 
position: relative;
    top: -153px;
    left: 481px;
}
.Солнечноиконка{
    width: 54px;
height: 54px;
flex-shrink: 0;
position: relative;
    top: -300px;
    left: 505px;
}
.Tue{
    color: #000;

text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
    top: -285px;
    left: 325px;
}
.Тридцатьградусов{
    color: #000;

text-align: right;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
    top: -270px;
    left: 145px;
}
.Иконкаа{
    width: 103px;
height: 165px;
flex-shrink: 0;
border-radius: 10px;
background: #272E37;

box-shadow: 1px 2px 4px 0px #222831;
position: relative;
    top: -425px;
    left: 585px;
}
.Облачноиконка{
    width: 54px;
height: 54px;
flex-shrink: 0;
position: relative;
    top: -580px;
    left: 611px;
}
.Wed{
    width: 58px;
height: 24px;
flex-shrink: 0;
color: #FFF;

text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
    top: -555px;
    left: 607px;
}
.Двадцатьдваградуса{
    width: 54.471px;
height: 23.571px;
flex-shrink: 0;
color: #FFF;

text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
    top: -538px;
    left: 608.77px;
}
.Иконкааа{
    width: 103px;
height: 165px;
flex-shrink: 0;
border-radius: 10px;
background: #272E37;

box-shadow: 1px 2px 4px 0px #222831;
position: relative;
    top: -692px;
    left: 689px;
}
.Дождливоиконка{
    width: 54px;
height: 54px;
flex-shrink: 0;
position:relative;
    top: -838px;
    left: 713px;
}
.Thu{
    width: 59px;
height: 24px;
flex-shrink: 0;
color: #FFF;

text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
    top: -822px;
    left: 711px;
}
.Шестьградусов{
    width: 78px;
height: 23px;
flex-shrink: 0;
color: #FFF;

text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
    top: -805px;
    left: 701px;
}
.Иконкаааа{
    width: 103px;
height: 165px;
flex-shrink: 0;
border-radius: 10px;
background: #272E37;

box-shadow: 1px 2px 4px 0px #222831;
position: relative;
    top: -958px;
    left: 793px;
}
.Солнечноиконкадва{
    width: 54.471px;
height: 54.018px;
flex-shrink: 0;
position: relative;
    top: -1110px;
    left: 816.77px;
}
.Fry{
    width: 54px;
height: 24px;
flex-shrink: 0;
color: #FFF;

text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
    top: -1089px;
    left: 817px;
}
.Двадцатьшестьградусов{
    width: 54.471px;
height: 23.571px;
flex-shrink: 0;
color: #FFF;

text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
    top: -1072px;
    left: 816.77px;
}
.Location{
    width: 415px;
height: 53px;
flex-shrink: 0;
border-radius: 10px;
background: linear-gradient(91deg, rgba(144, 217, 224, 0.90) 0.2%, rgba(84, 96, 230, 0.90) 100%);
position: relative;
    top: -1030px;
    left: 479px;
}
.Geolocation{
    width: 33px;
height: 33px;
flex-shrink: 0;
position: relative;
    top: -1075px;
    left: 578px;
}
.ChangeLocation{
    color: #FFF;

text-align: right;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
position: relative;
    top: -1105px;
    left: 380px;
}